.project-list-panel { 
  background-color: #f8f9fa; /* Light background */
  padding: 20px;
  border-right: 1px solid #dee2e6; /* Light grey border */
  position: relative; /* Correcting position property */
}

.create-project-form {
  background-color: #ffffff; /* White background for the form */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(249, 249, 250, 0.1); /* Light shadow effect */
  margin-top: 2px;
  font-size:larger;
}

.form-group label {
  margin-bottom: 1px;
  gap: 200px; /* Adjust this value to reduce space */
}

.form-group input, 
.form-group textarea {
  margin-top: 2px;/* Adjust this value to reduce space */
  padding: 5px; /* Adjust if needed */
}

.project-section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #007bff; /* Primary blue for title */
}


.form-group {
  padding: 2;
  margin-bottom: 2rem;
}

.btns {
  margin-top: 10px;
  background-color: #007bff; /* Primary blue button background */
  color: #ffffff; /* White text on buttons */
  border: none; /* Removing default border */
}

.btns:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
