 .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20.5%;
    margin-right: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  .top-icons {
    display: flex;
    gap: 10px;
  }
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }
  .icon-button .material-icons {
    font-size: 24px;
  }
  
  .project-title {
    font-weight: 700;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #343a40;
    text-align: center; /* Center-align the title */
  }
  
  